@charset "UTF-8";
.mgt_9 {
  margin-top: 9px;
}

.mgt_16 {
  margin-top: 16px;
}

.mgt_20 {
  margin-top: 20px;
}

.mgt_52 {
  margin-top: 52px;
}

.mgt_60 {
  margin-top: 60px;
}

.mgt_92 {
  margin-top: 92px;
}

.mgb_8 {
  margin-bottom: 8px;
}

.mgb_16 {
  margin-bottom: 16px;
}

.mgb_60 {
  margin-bottom: 60px;
}

.pad_t_312 {
  padding-top: 312px;
}

.pad_r_5 {
  padding-right: 5px;
}

.pad_l_8 {
  padding-left: 8px;
}

.pad_l_405 {
  padding-left: 405px;
}

.pad_t_252 {
  padding-top: 252px;
}

.pad_b_40 {
  padding-bottom: 40px;
}

.mgr_20 {
  margin-right: 20px;
}

.mbr_28 {
  margin-right: 28px;
}

.mgr_29 {
  margin-right: 29px;
}

.mgr_30 {
  margin-right: 30px;
}

.mgr_32 {
  margin-right: 32px;
}

.mgr_36 {
  margin-right: 36px;
}

.mgr_300 {
  margin-right: 300px;
}

.mgr_553 {
  margin-right: 553px;
}

.mgl_405 {
  margin-left: 405px;
}

.pr_banner {
  margin-left: 1070px;
}

.mgl_110 {
  margin-left: 110px;
}

.mgt_129 {
  margin-top: 129px;
}

.mgt_142 {
  margin-top: 142px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.product_img_white {
  background-color: #FFF;
  height: 300px;
  width: 550px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1190px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.header {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1190px) {
  .header {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .header {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .menu .mb-pc {
    display: none;
  }
}
@media (max-width: 767px) {
  .menu a {
    position: relative;
  }
}
@media (max-width: 767px) {
  .menu .mb-menu_1 {
    display: block;
    margin-left: 116px;
  }
}
@media (max-width: 767px) {
  .menu .mb-none {
    display: none;
  }
}
.menu .mb-menu_2 {
  display: none;
}
@media (max-width: 767px) {
  .menu .mb-menu_2 {
    display: block;
    margin-left: 19px;
  }
}
.menu .box {
  display: none;
}
@media (max-width: 767px) {
  .menu .box {
    display: block;
    position: absolute;
    width: 16px;
    height: 13px;
    background: #916000 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    border-radius: 7px;
    opacity: 1;
    top: -5px;
    right: -10px;
  }
}
.menu .mb-menu_2 {
  display: none;
}
@media (max-width: 767px) {
  .menu .mb-menu_2 {
    display: block;
    margin-left: 19px;
  }
}
.menu a {
  color: #8D8D8D;
}
.menu a:hover {
  color: #414141;
}
.menu i:hover {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media (max-width: 767px) {
  .mb_hidden {
    display: none;
  }
}
.icon {
  color: #8D8D8D;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index1.jpg");
  background-size: cover;
  height: 870px;
}
@media (max-width: 1190px) {
  .banner {
    width: 100%;
    height: 480px;
  }
}
@media (max-width: 767px) {
  .banner {
    width: 100%;
    height: 480px;
  }
}
.banner .content {
  width: 445px;
  color: #FFFFFF;
}
.banner .content h2 {
  font-size: 40px;
  line-height: 60px;
}
.banner .content p {
  font-size: 24px;
  line-height: 36px;
  font-weight: lighter;
}
.banner .content .shop {
  display: block;
  text-align: center;
  padding-top: 13px;
  color: #FFFFFF;
  font-size: 28px;
  width: 360px;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  height: 60px;
}
.banner .content .shop:hover {
  background: #FFFFFF4D 0% 0% no-repeat padding-box;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
}
@media (max-width: 1190px) {
  .banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.banner-content h2, .banner-content p, .banner-content a {
  max-width: 445px;
}

.banner-content a {
  margin-top: 16px;
  height: 60px;
  width: 350px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 5px;
}

.banner-content a:hover {
  background: rgba(255, 255, 255, 0.3);
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .product {
    margin-bottom: -50px;
  }
}
.product .product_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 555px;
}
@media (max-width: 1190px) {
  .product .product_right {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .product .product_right {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 32px;
  }
}
.product .product_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 555px;
}
@media (max-width: 1190px) {
  .product .product_left {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 767px) {
  .product .product_left {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 64px;
  }
}

.product_left_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1110px;
}
@media (max-width: 1190px) {
  .product_left_4 {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .product_left_4 {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 64px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 550px;
}
@media (max-width: 767px) {
  .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 8px;
  }
}

.item_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text, .text_4 {
  width: 350px;
}
.text a:hover, .text_4 a:hover {
  font-size: 18px;
}

@media (max-width: 1190px) {
  .text {
    margin-left: 10px;
  }
}

.perfume_img {
  width: 550px;
}

.product_img, .product_img_2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media (max-width: 1190px) {
  .product_img, .product_img_2 {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 20%;
       object-position: 20%;
  }
}
@media (max-width: 767px) {
  .product_img, .product_img_2 {
    height: 350px;
  }
}

@media (max-width: 1190px) {
  .product_img_2 {
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
@media (max-width: 767px) {
  .product_img_2 {
    height: 680px;
  }
}

.product_img_contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

h3 {
  font-size: 32px;
  font-weight: bolder;
  font-family: SF Pro Text;
  line-height: 48px;
}

p {
  font-size: 20px;
  font-weight: lighter;
  font-family: 蘋方-繁;
  line-height: 30px;
}

a {
  font-family: 蘋方-繁;
  color: #AC8A46;
  font-size: 16px;
}

.text_4 h3 {
  font-size: 24px;
  line-height: 36px;
}
.text_4 p {
  font-size: 16px;
  line-height: 24px;
  font-family: SF Pro Text;
}

.product_btn {
  font-size: 20px;
  width: 350px;
  height: 60px;
  background: none;
  border: 2px solid #000000;
  border-radius: 30px;
  opacity: 1;
}
.product_btn:hover {
  background: #0000000D 0% 0% no-repeat padding-box;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
}

.product_list, .product_list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E0E0E0;
  font-family: SF Pro Text;
}
.product_list h3, .product_list_content h3 {
  font-size: 24px;
  line-height: 36px;
}
.product_list h4, .product_list_content h4 {
  font-size: 16px;
}
.product_list p, .product_list_content p {
  font-size: 16px;
  color: #8D8D8D;
}
@media (max-width: 1190px) {
  .product_list, .product_list_content {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .product_list, .product_list_content {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pic {
  width: 350px;
  overflow: hidden;
}

.pic img {
  padding-top: 40px;
  height: 540px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.pic img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.pic img .sold {
  width: 350px;
  height: 540px;
  overflow: hidden;
  position: relative;
}
.pic img .line-through {
  display: inline-block;
  text-decoration: line-through;
}

.product_content {
  font-family: SF Pro Text;
}
.product_content h3 {
  font-weight: bolder;
  font-size: 32px;
  line-height: 48px;
}
.product_content .size_20 {
  font-size: 20px;
  line-height: 30px;
}
.product_content .size_16 {
  font-size: 16px;
  line-height: 30px;
}
.product_content a {
  font-family: 蘋方-繁;
  font-size: 16px;
  color: #AC8A46;
}

.product_left_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1190px) {
  .product_left_content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (max-width: 767px) {
  .product_left_content {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.product_left_content img {
  width: 730px;
  height: 520px;
}
@media (max-width: 1190px) {
  .product_left_content img {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .product_left_content img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.product_left_content .text_2 {
  width: 350px;
}
.product_left_content .text_2 a:hover {
  font-size: 18px;
}
@media (max-width: 767px) {
  .product_left_content .text_2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 600px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true");
  background-size: cover;
  background-position: center center;
}
@media (max-width: 767px) {
  .footer .footer_content {
    margin-top: 100px;
  }
}
.footer h3 {
  color: #8D8D8D;
  font-size: 32px;
  line-height: 48px;
}
.footer .input_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  height: 60px;
  border: #916000 2px solid;
  border-radius: 0px 4px 4px 0px;
}
.footer .input_info {
  border: #916000 2px solid;
  width: 229px;
  margin-bottom: 10px;
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: -2px;
}
.footer .input_info a {
  font-size: 16px;
}
.footer .subscribe_text {
  width: 131px;
  display: block;
  margin-right: -1px;
  margin-bottom: -2px;
  background-color: #916000;
  padding-top: 21px;
  padding-left: 27px;
  color: #FFFF;
}

.bg-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80px;
  background-color: #916000;
}
.bg-orange ul, .bg-orange p {
  padding-top: 20px;
  color: #FFF;
}
.bg-orange .logo_bg-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1190px) {
  .bg-orange .logo_bg-orange {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bg-orange .logo_bg-orange img {
    width: 128px;
  }
  .bg-orange .logo_bg-orange p {
    padding-top: 10px;
    font-size: 14px;
  }
}
.bg-orange .menu_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg-orange .menu_footer a {
  color: #FFF;
}
.bg-orange .menu_footer a:hover {
  color: burlywood;
  font-size: 18px;
}
@media (max-width: 1190px) {
  .bg-orange .menu_footer {
    display: none;
  }
}
@media (max-width: 767px) {
  .bg-orange .menu_footer {
    display: none;
  }
}

.banner_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #916000;
  height: 52px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
ul a {
  color: #fff;
}