@mixin content_h2 {            
    font-size: $content_h2;
    line-height: $content_h2_lh;
}

@mixin content_p {
    font-size: $content_p;
    line-height: $content_p_lh;
    font-weight: $content_p_weight;
}

@mixin shop{
    display: block;
    text-align: center;
    padding-top: 13px;
    color: $btn-color;
    font-size:$font_size_btn;
    width: 360px;
    background: none;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    height: 60px;
    &:hover{
    background: $btn-background;
    transition:$btn-transition;
    opacity: 1;
}
}

@mixin banner {
    background: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index1.jpg");
    background-size: cover;
    height: 870px;
}

@mixin product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin product_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    height: 555px;
}

@mixin product_left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 555px;
}

@mixin product_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin product_left_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin product_left_4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1110px;
}

@mixin product_btn {
    display: block;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #000000;
    font-size: $font_size_product-btn;
    width: 350px;
    height: 60px;
    background: none;
    border: 2px solid #000000;
    border-radius: 30px;
    opacity: 1;
    &:hover{
    background: $product-btn-background;
    font-size: 20px;
    opacity: 1;
}
}

@mixin product_list{
    font-family:$product_list_fontfamily;
    h3{
    font-size: $product_list_h3_size;
    line-height: $product_list_h3_lh;
    }
    h4{
        font-size: $product_list_h4_size;
    }
    p{
        font-size: $product_list_p_size;
        color: $line_through;
    }
}

@mixin product_content{
    font-family: $product_content-fontfamily;
    h3{
        font-weight: bolder;
        font-size: $product-content-h3-size;
        line-height: $product-content-h3-lh;}
    .size_20{
        font-size: $product-content-p-20-size;
        line-height: $product-content-p-lh;
    }
    .size_16{
        font-size: $product-content-p-16-size;
        line-height: $product-content-p-lh;
    }
    a{
        font-family: $product-a-font-family;
        font-size:$product-a-font;
        color: $product-a-color;
    }

}

@mixin soldout{
    text-align: center;
    color: #FFFF;
    position: absolute;
    height: 500px;
    background: #000000;
    opacity: 0.3;
    top:0;
}

@mixin  footer{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true");
    background-size: cover;
    background-position: center center;
}

@mixin footer_content {
    justify-content: center;
    align-items: center;
}

@mixin input_text{
    width: 360px;
    height: 60px;
    border: $bg-orange 2px solid;
    border-radius: 0px 4px 4px 0px;
}

@mixin input_info {
    border: $bg-orange 2px solid;
    width: 229px;
    margin-bottom: 10px;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
    a{
        font-size: 16px;
    }
}

@mixin subcribe_text{
    margin-right: -1px;
    margin-bottom: -2px;
    background-color: $bg-orange;
    padding-top: 21px;
    padding-left: 27px;
    color: #FFFF;
}


@mixin mb_hidden {
    .mb_hidden{
    display: none;
} 
}

@mixin mb-contnet-padding{
    padding-left: 15px;
    padding-right: 15px;
}

@mixin section {
    @media (max-width:767px) {
        height: 40px;
    }
    .add_num{
        width: 160px;
        height: 62px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #916000;
        border-radius: 4px 0px 0px 4px;
        @media (max-width:767px) {
            height: 40px;
        }
    }
    .add_cart{
        width: 190px;
        text-align: center;
        background-color: #916000;
        border: 2px solid #916000;
        border-radius: 0px 4px 4px 0px; 
        p{
            color: #FFFF;
            font-size: 16px;
            padding-top: 14px;
            @media (max-width:767px) {
                font-size: 10px;
                padding-top: 3px;
                padding-bottom: 0px;
            }
        }
    }
}

@mixin product_2_font_style {
    h1{
        font-size: 32px;
        font-family: "SF Pro Text";
        line-height: 48px;
        @media (max-width:767px) {
            margin-top: 20px;
        }
    }
    .product_2_txt{
    h2{
        font-size: 20px;
        font-family: "蘋方-繁";
        line-height: 30px;
        font-weight: lighter;
    }
}
    p{
        font-size: 16px;
        font-family: "蘋方-繁";
    }
}

@mixin login {
    color: #FFFF;
    text-align: center;
    font-size: 16px;
    font-family: "蘋方-繁";
    width: 65px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background: #916000 0% 0% no-repeat padding-box;
    border: 1px solid #6C4700;
    border-radius: 4px;
    &:hover{
    background: #6C4700 0% 0% no-repeat padding-box;
    }
}

@mixin register {
    font-size: 16px;
    font-family: "蘋方-繁";
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: #916000;
    width: 65px;
    border: 1px solid #916000;
    border-radius: 4px;
    &:hover{
        color: #FFFF;
        background: #916000 0% 0% no-repeat padding-box;
    }
}