.banner_product{
    display: flex;
    background: none;
    align-items: center;
    justify-content: space-around;
    background-color: #916000;
    height: 52px;
}

ul{
    display: flex;
    a{
        color: #fff;
    }
}