body {
  background: #f0f0f0;
}

.container {
  width: 375px;
  margin: 0 auto;
  background: white;
  height: 100vh;
}

.header {
  text-align: center;
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ham-icon {
  position: absolute;
  left: 330px;
  color: red;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 0px;
  transition: all 0.8s;
  overflow: hidden;
  z-index: 120;
}
.dropdown.active {
  max-height: 200px;
}

.dropdown li a {
  display: block;
  background: #AA0601;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  padding: 16px 0;
  text-decoration: none;
}
.dropdown li a:hover {
  background: #8f0400;
}

.banner {
  position: relative;
}
.banner-title {
  position: absolute;
  margin-left: 11px;
  bottom: 0px;
  font-size: 28px;
  line-height: 1.8;
}

.content {
  padding: 24px 11px;
}
.content h3 {
  font-size: 20px;
  font-weight: bold;
}